.history{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid #484848;
  border-radius: 5px;
  font-family: 'Montserrat';
  color: #0c54a0;
}